.button {
    background-color: #0D0D0D;
    color: #F2EDE4;
    margin: 2px;
    cursor: pointer;
    border: 1px solid #0D0D0D;
    font-size: 15px;
    outline: none;
    padding: 10px;
}

.danger {
    background-color: red;
    border: 1px solid red;
}

.disabled {
    opacity: 0.7;
}