.note {
    width: 230px;
    height: 230px;
    background-color: #f0f0f0;
    box-shadow: -2px 3px 5px 0px rgba(0,0,0,0.75);
    padding: 15px 10px;
    position: relative;
    text-align: left;
    word-break: break-all;
    margin: 30px;
    text-align: center;
}