.sort {
    width: 169px;
    background: #0D0D0D;
    color: #F2EDE4;
    list-style-type: none;
    padding: 10px;
    margin: 5px;
}
.sortParams {
    padding: 20px;
}
.mainParam {
    border: solid 1px red; 
}